body{
    margin: 0;
    padding: 0;
    background-color: rgb(189, 209, 194);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


header{
    text-align: center;
}
header h1{
    margin-top: 12px;

}
 
header h3{
    font-weight: normal;
    font-size: 16px;
    color: rgb(252, 28, 28);
}

.navbar{
    display: flex;
    justify-content: center;
}

nav{
    text-align: center;
    padding: 10px;
}
nav a{
    text-decoration: none;
    margin: 0 10px;
    font-weight: 900;
    
}

nav a:hover{
    text-decoration:underline;
}
main{
    max-width: 800px;
    margin: 40px auto;
    padding: 0 20px;
}
article{
    padding: 10px;
}

article div{
    margin-bottom: 20px;
}

article img{
    max-width: 100%;
    display: block; 
    margin: 20px auto;
}

footer{
    text-align: center;
}




